<h1><code>Hello, World ({{ value }})</code></h1>

<!-- if onValueChanged is fired out, display the events output, with value: $event is bound to this.counter -->
<app-counter [counter]="10" (onValueChanged)="valueChanged($event)">
</app-counter>

<ul *ngIf="historicalValue.length > 0; else noData">
    <li *ngFor="let i of historicalValue; let idx = index">
        <h3>
            <!-- Start counting from 1 when making a change -->
            <code>{{ idx + 1 }}</code>, {{ i }}
            <!-- add a delete button next to all historicalvalue -->
            <button (click) ="deleteValue(idx)">X</button>
        </h3>
    </li>
</ul>

<ng-template #noData>
    <h2>No Data</h2>
</ng-template>

<!-- Because of @Input under mycomponent CSS, i can now input directly to html file -->
<!-- Anything on the left hand side of the = is part of the app-my-component. Anything on the right hand side of the = belongs to the 
    direct parent -->
<app-my-component [title]= "name" imageUrl="/assets/puppy.jpg">
</app-my-component>

<app-my-component title ="Dov Dancing Bear">
</app-my-component>

<app-my-component></app-my-component>
<app-my-component></app-my-component>
<app-my-component></app-my-component>